[submodule "Lora-Map"]
	path = Lora-Map
	url = https://github.com/MONICA-Project/lora-map.git
[submodule "Utils/Utils-IoT"]
	path = Utils/Utils-IoT
	url = https://github.com/blubbfish/Utils-IoT.git
[submodule "Utils/ConnectorDataMqtt"]
	path = Utils/ConnectorDataMqtt
	url = https://github.com/blubbfish/ConnectorDataMqtt.git
[submodule "Utils/Bot-Utils"]
	path = Utils/Bot-Utils
	url = https://github.com/blubbfish/Bot-Utils.git
[submodule "Utils/Utils"]
	path = Utils/Utils
	url = https://github.com/blubbfish/Utils.git
[submodule "Librarys/litjson"]
	path = Librarys/litjson
	url = https://github.com/blubbfish/litjson.git
[submodule "Librarys/mqtt"]
	path = Librarys/mqtt
	url = https://github.com/blubbfish/mqtt.git
[submodule "Librarys/Coordinates"]
	path = Librarys/Coordinates
	url = https://github.com/blubbfish/Coordinates.git
