[submodule "Lora-Map"]
	path = Lora-Map
	url = https://gitlab.fit.fraunhofer.de/monica/lora-map/lora-map.git
[submodule "Utils/Utils-IoT"]
	path = Utils/Utils-IoT
	url = http://git.blubbfish.net/vs_utils/Utils-IoT.git
[submodule "Utils/ConnectorDataMqtt"]
	path = Utils/ConnectorDataMqtt
	url = http://git.blubbfish.net/vs_utils/ConnectorDataMqtt.git
[submodule "Utils/Bot-Utils"]
	path = Utils/Bot-Utils
	url = http://git.blubbfish.net/vs_utils/Bot-Utils.git
[submodule "Utils/Utils"]
	path = Utils/Utils
	url = http://git.blubbfish.net/vs_utils/Utils.git
[submodule "Librarys/litjson"]
	path = Librarys/litjson
	url = http://git.blubbfish.net/vs_librarys/litjson.git
[submodule "Librarys/mqtt"]
	path = Librarys/mqtt
	url = http://git.blubbfish.net/vs_librarys/mqtt.git
[submodule "Librarys/Mono.Posix"]
	path = Librarys/Mono.Posix
	url = http://git.blubbfish.net/vs_librarys/Mono.Posix.git
[submodule "Librarys/Coordinates"]
	path = Librarys/Coordinates
	url = http://git.blubbfish.net/vs_librarys/Coordinates.git
